nav a.active {
  color: #ff6464;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.post {
  padding-bottom: 29px;
  border-bottom: 1px solid #ebebeb;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post h2 {
  font-size: 30px;
  font-weight: 600;
}

.meta {
  font-size: 20px;
}

.divider {
  margin: 0 10px;
  color: #606060;
}

.category {
  color: #8695a4;
}
