.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#work-btn {
  color: #ff6464 !important;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
  color: #142850;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}

.year {
  background-color: #ff6464;
  color: #ffffff;
  padding: 0.15rem 0.8rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: 0.9rem;
}

.meta p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #142850;
  line-height: 1.4;
  margin: 0;
}

header > p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  color: #070707;
  margin-bottom: 2.5rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 3.5rem;
}

h2 {
  max-width: 900px;
  margin: 40px auto 10px;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(53, 52, 52);
}

h3 {
  max-width: 900px;
  margin: 0 auto 20px;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 550;
  color: rgb(53, 52, 52);
}